<h1 style = "color: red; margin: 5px;">This is the answer!</h1>
<ul style = "color: green; font-size: 25px;">
  <%= @answer %>
</ul>

<%= link_to "Ask a new question", "http://localhost:3000/ask", style: "color: white; text-decoration: none; background-color: black; margin: 5px; border-radius: 5px;" %>
